spring:
  application:
    name: Banking

  datasource:
    url: jdbc:postgresql://localhost:5432/banking
    username: postgres
    password: admin

  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
    properties:
      hibernate:
        format_sql: true

logging:
  level:
    root: INFO
    org.springframework.web: INFO
    com.banking: DEBUG
  file:
    name: logs/banking.log
  pattern:
    file: "%d{yyyy-MM-dd HH:mm:ss} %-5level %logger{36} - %msg%n"
    console: "%d{HH:mm:ss} %-5level %logger{36} - %msg%n"
